@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
$primary--font: "Kumbh Sans", sans-serif;
$primary--color: #3097f5;
$secondary--color: #042a74;
$text-dark: #000;
$text-gray: #4e4e4e;
$margin-section: 130px;
